nav {
    margin-left: 20px;
    font-size: 150%;
}

nav a {
    color: #c9720e;
    margin-left: 5px;
}

main {
    margin-top: 15px;
}

.create-thread {
    text-align: center;
    color: #c9720e;
    margin-bottom: 50px;
}

.btn btn-primary {
    color: #c9720e;
}

body {
    background-color: #dedede;
}

.thread-post {
    border-top: 2px solid #c9c9c9;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.thread-post h6 {
    color: #8c8c8c;
}

.thread-theme {
    color: #5c5c5c;
}

.thread-post img {
    margin-bottom: 5px;
    margin-right: 5px;
}