{% extends "base.html" %}

{% block content %}
    {% if post_type == 'thread' %}
        {% for thread in posts %}
            <h1 class="answer-h1">Ответ к записи №{{ thread.post_id }}</h1>
            <div class="thread-post">
                <h6>Аноним {{ thread.date }} {{ thread.time }}
                <a>№{{ thread.post_id }}</a>
                </h6>
                {% for image in thread.images %}
                    <img src="../{{ image }}" width="200">
                {% endfor %}
                <h5>{{ thread.title }}</h5>
                <p>{{ thread.main_text }}</p>
                <p class="thread-theme">Тема: {{ thread.theme }}</p>
            </div>
        {% endfor %}
    {% elif post_type == 'answer' %}
        {% for answer in posts %}
            <h1 class="answer-h1">Ответ к записи №{{ answer.post_id }}</h1>
            <div class="answer">
                <h6>Аноним {{ answer.date }} {{ answer.time }}
                <a>№{{ answer.post_id }}</a>
                </h6>
                <h6 id="answer-to">>>{{ answer.answering_to }}</h6>
                {% for image in answer.images %}
                <img src="../{{ image }}" width="200">
                {% endfor %}
                <p>{{ answer.main_text }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <form class="answer-create" action="" method="post" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.text.label }}<br>
            {{ form.text(class="form-control") }}<br>
            {% for error in form.text.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ form.image_1.label }}<br>
            {{ form.image_1(class="form-control") }}<br>
            {% for error in form.image_1.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
            {{ form.image_2(class="form-control") }}<br>
            {% for error in form.image_2.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
            {{ form.image_3(class="form-control") }}<br>
            {% for error in form.image_3.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
            {{ form.image_4(class="form-control") }}<br>
            {% for error in form.image_4.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}
